* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 26px;
  color: #272626;
  font-family: sans-serif;
  padding: 20px;

}
#result{
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  color: #afb0b0;
  font-family: sans-serif;
  padding: 5px;

}
.box {
  padding-top: 30px;
  padding: 30px;
  backdrop-filter: blur(15px) saturate(129%);
    -webkit-backdrop-filter: blur(15px) saturate(129%);
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.password, .palindrome, .converter, .mortgage{

  width: 800px;
  height: 300px;
  background-color: white;
  border: 1px solid  rgba(209, 213, 219, 0.3);
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}
input {
  padding: 20px;
  user-select: none;
  height: 50px;
  width: 400px;
  border-radius: 6px;
  border: none;
  border: 1px solid rgba(14, 14, 15, 0.3);
  outline: none;
  font-size: 22px;
}

input::placeholder {
  font-size: 23px;
}
select{
  user-select: none;
  height: 50px;
  width: 150px;
  border-radius: 6px;
  border: none;
  border: 1px solid rgba(14, 14, 15, 0.3);
  outline: none;
  font-size: 15px;
}
#button {
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 40px;
  border: 2px solid rgba(209, 213, 219, 0.3);
  width: 155px;
  height: 50px;
  text-align: center;
  background-color: #afb0b0;
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 7px;
}
.button-pal{
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 40px;
  border: 2px solid  rgba(209, 213, 219, 0.3);
  width: 155px;
  height: 50px;
  text-align: center;
  background-color: #afb0b0;
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 7px;
}
.btn2 {
  margin-left: 85px;
}

#button:hover, .button-pal:hover {
  color: white;
  background-color: black;
}

p{
  margin-bottom: 3px;
  font-size: 16px;
  color: #272626;
  font-family: sans-serif;
  padding: 5px;
}